{% extends "base.html" %}

{% block title %}
    <title>Ваш профиль</title>
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/profile.css" %}" />

    <script src="{% static "js/lib/bootstrap-confirmation.js" %}"></script>
    <script src="{% static "js/profile.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid col-md-4">
        <div class="thumbnail content-thumbnail">
            <form id="csrf-token-form">
                {% csrf_token %}
            </form>
            <p class="header-text">Основная информация</p>
            <div class="profile-info">
                <div class="row-fluid">
                    <label for="username-input" class="col-md-3 profile-info-label">
                        Никнейм
                    </label>
                    <div class="input-group col-md-9">
                      <input id="username-input" type="text" class="form-control" disabled="disabled" value="{{ user.username }}">
                    </div>
                </div>
                <div class="row-fluid info-block">
                    <label for="email-input" class="col-md-3 profile-info-label">
                        Email
                    </label>
                    <div class="input-group col-md-9">
                        <input id="email-input" type="email" class="form-control" name="email" value="{{ user.email }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default field-button" type="button">Сохранить</button>
                        </span>
                    </div>

                </div>
                <div class="row-fluid info-block">
                    <label for="last_name-input" class="col-md-3 profile-info-label">
                        Фамилия
                    </label>
                    <div class="input-group col-md-9">
                      <input id="last_name-input" type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                      <span class="input-group-btn">
                        <button class="btn btn-default field-button" type="button">Сохранить</button>
                      </span>
                    </div>

                    <label for="first_name-input" class="col-md-3 profile-info-label">
                        Имя
                    </label>
                    <div class="input-group col-md-9">
                      <input id="first_name-input" type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                      <span class="input-group-btn">
                        <button class="btn btn-default field-button" type="button">Сохранить</button>
                      </span>
                    </div>
                </div>
                <div class="row-fluid info-block">
                    <label for="password-input" class="col-md-3 profile-info-label">
                        Пароль
                    </label>
                    <div class="input-group col-md-9">
                      <input id="password-input" type="password" class="form-control" name="password" value="">
                    </div>
                    <label for="password1-input" class="col-md-3 profile-info-label">
                        Повторите пароль
                    </label>
                    <div class="input-group col-md-9">
                      <input id="password1-input" type="password" class="form-control" name="password1" value="">
                    </div>
                    <div class="input-group col-md-9 col-md-offset-3">
                        <span class="input-group-btn" style="padding-left: 1px">
                            <button class="btn btn-default pass-button" type="button" style="width: 100%">Сохранить</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid col-md-4">
        <div class="thumbnail content-thumbnail">
            <p class="header-text">Созданные системы</p>
            {% if systems %}
            <table class="system-table">
                {% for system in systems %}
                <tr id="system{{ system.id }}" class="thumbnail system-elem">
                    <td class="row-number">{{ forloop.counter }}</td>
                    <td class="system-data" style="width: 80%">
                        <table class="col-md-12">
                            <tr class="system-name"><td>{{ system.name|truncatechars:35 }}</td></tr>
                            <tr><td>{{ system.question_count }} вопрос{{ system.question_ending }}</td></tr>
                            <tr><td>{{ system.object_count }} объект{{ system.object_ending }}</td></tr>
                            <tr><td>Система <b>{% if system.is_public %}публична{% else %}приватна{% endif %}</b></td></tr>
                            <tr><td><a class="btn btn-edit col-md-6" href="{% url "add_system" system_id=system.id %}">Редактировать</a>
                                    <a data-id="{{ system.id }}" class="btn btn-delete delete-system col-md-6">Удалить</a>
                            </td></tr>
                        </table>
                    </td>
                    <td class="system-image">
                        <img class="system-img" src="{{ system.photo }}">
                    </td>
                </tr>
                {% endfor %}
            </table>
            <a class="btn btn-new" href="{% url "add_new_system" %}">Создать еще одну</a>
            {% else %}
                <p>Пока ничего нет</p>
                <a class="btn btn-new" href="{% url "add_new_system" %}">Создать</a>
            {% endif %}
        </div>
    </div>
    <div class="container-fluid col-md-4">
        <div class="thumbnail content-thumbnail">
            <p class="header-text">История</p>
            {% if histories %}
            <table class="system-table">
                {% for history in histories %}
                <tr id="history{{ history.id }}" class="thumbnail system-elem">
                    <td class="row-number">{{ forloop.counter }}</td>
                    <td class="system-data">
                        <table>
                            <tr class="system-name"><td>{{ history.system_name }}</td></tr>
                            <tr><td>Отвечено на {{ history.questions_answered }} вопрос{{ history.questions_ending }} из {{ history.total_questions }}</td></tr>
                            <tr><td>Тестирование начато: {{ history.started }}</td></tr>
                            <tr><td>Тестирование закончено: {{ history.finished }}</td></tr>
                            <tr><td><a class="btn btn-edit col-md-6" href="{% url "reset" %}?system_id={{ history.system_id }}">Пройти заново</a>
                                    <a data-id="{{ history.id }}" class="btn btn-delete delete-history col-md-6">Удалить запись</a>
                            </td></tr>
                        </table>
                    </td>
                    <td class="test-results">
                        <table>
                            <tr class="test-header"><td colspan="2">Результаты</td></tr>
                            {% for result in history.results %}
                                {% if forloop.counter <= 5 %}
                                    <tr>
                                        <td class="result-number">{{ forloop.counter }}.</td>
                                        <td class="result-text">{{ result.name }}</td>
                                    </tr>
                                {% endif %}
                            {% empty %}
                                <tr><td>Нет данных</td></tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
                <p>Пока ничего нет</p>
            {% endif %}
        </div>
    </div>
{% endblock %}