{% extends "base.html" %}

{% block title %}
    <title>Ваш профиль</title>
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/profile.css" %}">

    <script src="{% static "js/profile.js" %}"></script>
    <script src="{% static "js/lib/bootstrap-confirmation.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid col-md-3">
        <div class="thumbnail content-thumbnail">
            <form id="csrf-token-form">
                {% csrf_token %}
            </form>
            <p class="header-text">Основная информация</p>
            <div class="profile-info">
                <div class="row-fluid">
                    <label for="username-input" class="col-md-4 profile-info-label">
                        Никнейм
                    </label>
                    <div class="input-group col-md-8">
                      <input id="username-input" type="text" class="form-control" disabled="disabled" value="{{ user.username }}">
                    </div>
                </div>
                <div class="row-fluid info-block">
                    <label for="email-input" class="col-md-4 profile-info-label">
                        email
                    </label>
                    <div class="input-group col-md-8">
                        <input id="email-input" type="text" class="form-control" name="email" value="{{ user.email }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default field-button" type="button">Сохранить</button>
                        </span>
                    </div>

                </div>
                <div class="row-fluid info-block">
                    <label for="last_name-input" class="col-md-4 profile-info-label">
                        Фамилия
                    </label>
                    <div class="input-group col-md-8">
                      <input id="last_name-input" type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                      <span class="input-group-btn">
                        <button class="btn btn-default field-button" type="button">Сохранить</button>
                      </span>
                    </div>

                    <label for="first_name-input" class="col-md-4 profile-info-label">
                        Имя
                    </label>
                    <div class="input-group col-md-8">
                      <input id="first_name-input" type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                      <span class="input-group-btn">
                        <button class="btn btn-default field-button" type="button">Сохранить</button>
                      </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid col-md-3">
        <div class="thumbnail content-thumbnail">
            <p class="header-text">Созданные системы</p>
            {% if systems %}
            <table class="system-table">
                {% for system in systems %}
                <tr id="system{{ system.id }}" class="thumbnail system-elem">
                    <td class="row-number">{{ forloop.counter }}</td>
                    <td class="system-data">
                        <table>
                            <tr class="system-name"><td>{{ system.name }}</td></tr>
                            <tr><td>{{ system.question_count }} вопрос{{ system.question_ending }}</td></tr>
                            <tr><td>{{ system.object_count }} объект{{ system.object_ending }}</td></tr>
                            <tr><td>Система <b>{% if system.is_public %}публична{% else %}приватна{% endif %}</b></td></tr>
                            <tr><td><a class="btn btn-info" href="{% url "add_system" system_id=system.id %}">Редактировать</a>
                                    <a data-id="{{ system.id }}" class="btn btn-danger delete-system">Удалить</a>
                            </td></tr>
                        </table>
                    </td>
                    <td class="system-image">
                        <img class="system-img" src="{{ system.photo }}">
                    </td>
                </tr>
                {% endfor %}
            </table>
            <a class="btn btn-success" href="{% url "add_new_system" %}">Создать еще одну</a>
            {% else %}
                <p>Пока ничего нет</p>
                <a class="btn btn-info" href="{% url "add_new_system" %}">Создать</a>
            {% endif %}
        </div>
    </div>
    <div class="container-fluid col-md-6"></div>
{% endblock %}